# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
my_int = 15
print(my_int)

15

##### Assinging float

In [1]:
my_fl = 5.5
print(my_fl)
my_fl = 7.4
print(my_fl)

5.5
7.4

#### Performing Calculations on ints and floats

##### Addition

In [7]:
num_1 = 4
num_2 = 6
result = num_1 + num_2
print(result) 

# shorthand version
result += 1
print(result)

10
11

In [2]:
2 + 3

5

In [8]:
2.5 + 3.5

6.0

##### Subtraction

In [8]:
result_diff = num_2 - num_1
print(result_diff)

# shorthand version
result_diff -= 2
print(result_diff)

2
0

In [5]:
7 - 3

4

In [7]:
7.5 - 2

5.5

##### Multiplication

In [9]:
product = num_1 * num_2
print(product)

# short
product *= 3
print(product)

24
72

In [6]:
4 * 6

24

##### Division

In [11]:
result_div = num_2 / num_1
print(result_div)

# short_hand
result_div /= 2
print(result_div)

1.5
0.75

In [12]:
7 / 2

3.5

In [13]:
7.0 / 2

3.5

In [17]:
print(7.0 / 2)

3.5

##### Floor Division

In [12]:
result_floor = num_2 // num_1
print(result_floor)

# short_hand
result_floor //= 2
print(result_floor)

1
0

In [11]:
7.0 // 2

3.0

In [14]:
7 // 2

3

In [16]:
print(7 // 2)

3

##### Modulo

In [14]:
result_mod = num_2 % num_1
print(result_mod)

# short
result_mod %= 2
print(result_mod)

2
0

In [20]:
100 % 2

0

In [21]:
print(10 % 3)

1

##### Exponential

In [17]:
square = 7 ** 2
print(square)

# short-hand
square **= 2
print(square)

49
2401

In [18]:
10 ** 7

10000000

In [19]:
print(10 ** 7)

10000000

### String Input-Output

##### String Assignment

In [19]:
name = 'Adjo'
print(name)

Adjo

In [23]:
message = "Hi, Just to let you know that I'm loving this!"
print(message)

Hi, Just to let you know that I'm loving this!

##### print() <br>
<p>Don't forget about end=' '</p>

In [22]:
print( 'Say, Hello!', name)
print( "Full name: ", name, end=' Tetedje')

Say, Hello! Adjo
Full name:  Adjo Tetedje

In [26]:
print("Hi, Just to let you know that I'm loving this!")

Hi, Just to let you know that I'm loving this!

In [25]:
print('Hi,', end=' ' )
print("Just to let you know that I'm loving this!")

Hi, Just to let you know that I'm loving this!

##### String Concatenation

In [25]:
first_name = "Adjo"
last_name = "Tetedje"

full_name = first_name + " " + last_name
print(full_name)

# short-hand
full_name += ' Jr'
print(full_name)

Adjo Tetedje
Adjo Tetedje Jr

In [3]:
first_part = 'Hi,'
second_part = "Just to let you know that I'm Loving this"
conc_sent = first_part + ' ' + second_part
print(conc_sent)

Hi, Just to let you know that I'm Loving this

In [5]:
print( "Happy Friday!" + ' ' + "I hope you enjoy your weekend" + "." )

Happy Friday! I hope you enjoy your weekend.

In [10]:
a = "It's her birthday"
b = "amanda"
c = "she deserves a vacation."
d = "Please let her have it."
print(a + ',' + ' ' + " I mean " + b.title() + "'s" + "." + " " + c + " " + d)

It's her birthday,  I mean Amanda's. she deserves a vacation. Please let her have it.

##### Type Conversion

In [26]:
num = "32"
change_type = int(num)
change_type += 5
print(change_type)

37

##### input()

In [27]:
# input will always return a string ALL THE TIME!!
name_1 = input("What is your name? ")
print(name)

Adjo

In [29]:
age = int(input('How old are you? '))
new_age = age + 1
print(new_age)

18

##### format()

In [34]:
# age = input( 'What is your age? ')
# name = input( 'What is your name? ')
age = 23
name = 'Adjo'

result_string = ' You are {}, You are {} years old and you are getting wiser!'.format(name, age)
print(result_string)

result_again = f'{age} is a great age'
print(result_again)

 You are Adjo, You are 23 years old and you are getting wiser!
23 is a great age

##### Old Way (python 2)

In [35]:
result_string2 = "You are %s and you look great for your age!"  %age
print(result_string2)

You are 23 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [38]:
color = input('Enter the color of your car: ' )
year = input('Enter the year of your car: ')
make = input('Enter the make of your car: ')
model = input('Enter the model of your car: ')
# car details
print(f'the car details are: \ncolor: {color}\nYear {year}\nMake: {make}\nModel {model}')
car_details = 'I have a {} {} {} {}'.format(color, year, make, model)
print(car_details)

the car details are:
color: black
Year 2020
Make: Mercedes
Model GLC 350
I have a black 2020 Mercedes GLC 350

### If Statements

In [40]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)
#  if (thing that is true or false) is true:
    # do this stuff
# this part will happen anyways
# you do not add an else if you do not need any
num_1 = 10
num_2 = 14

if num_1 == num_2:
    print('Equal values')
else:
    print('Not Equal')

if num_2 > num_1:
    print('Num_2 is greater than')
elif num_2 < num_1:
    print('Num_2 is less than')
else:
    print('They are the same')

Not Equal
Num_2 is greater than

##### 'is' keyword

In [43]:
# use IS when checking for same or similar object, NOT the same value
num_3 = 55
num_4 = num_3
if num_3 is num_4:
    print('This is the same type of similar object')

This is the same type of similar object

##### 'in' keyword

In [44]:
char_name = 'Adjo Tetteh'
if 'Adjo' in char_name:
    print('The character who got everything')

The character who got everything

##### 'not in' keyword'

In [45]:
sec_char = 'Sonic'
if 'a' not in sec_char:
    print('a is NOT HERE')

a is NOT HERE

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [47]:
# asking for input
user_say = input('Please enter something:')
# checking for the letter 'p'
print(f'user input is {user_say}')
if 'p' in user_say:
    print("The letter 'p' is present")
else:
    print("'p' is absent")

user input is potato patato levato
The letter 'p' is present

## Using 'and'/'or' with If Statements

In [53]:
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F
first_name = 'Adjo'
age = 17

if first_name == 'Adjo' and age == 17:
    print('I am Adjo and I am 17')
elif first_name == 'Adjo' or age == 17:
    print('I am either Adjo or I am 17')

I am Adjo and I am 17

### Elif Statements

In [51]:
if first_name == 'Adjo' and age == 17:
    print('I am Adjo and I am 17')
elif first_name == 'Adjo' or age == 17:
    print('I am either Adjo or I am 17')

I am Adjo and I am 17

### Else Statements

In [55]:

her_name = 'Salam'
age = 23

if her_name == 'Salam' and age == 23:
    print('I am Salam and I am 23')
elif her_name == 'Salam' or age == 23:
    print('I am either Salam or I am 23')
else: 
    print('I am not Salam' )

I am Salam and I am 23

### For Loops

In [1]:
# for  item in iterable_thing
# do some stuff

name = 'Adjo is the greatest'

for letter in name:
    print(letter)

A
d
j
o

i
s

t
h
e

g
r
e
a
t
e
s
t

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [4]:
# will continue to next iteration
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

##### Break Statement

In [5]:
# will break out of current loop
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration
for i in name:
    pass

##### Double For Loops

In [ ]:
for i in range(5):
    for n in range(5):
        print('i = ', i, 'j = ', j)

### While Loops

In [2]:
# go until a condition is met
# whilte condition statement(somthing that is true or false): do some stuff
num = 4
while num < 10:
    print(num)
    # set conditions 
    num +=1

4
5
6
7
8
9

##### Looping 'While True'

In [8]:
# a flag is a variable set up outside of while loop
# used to change value
game_over = True
while game_over:
    print('infinite loop')
    game_over = False #overwrite the value of game_over stops the loop due to change in value (flag)

infinite loop

In [14]:
game_over = False
while True: 
    print('infinite loop')
    if game_over == False:
        break

infinite loop

In [19]:
game_running = True
score = 0
while game_running:
    user_input = input('say your favorite color')
    if user_input == 'quit':
        game_running = False
    print(user_input)
    score += 1
    print(f'score: {score + 1}')

pink
score: 2
yellow
score: 3
green
score: 4
beige
score: 5
caramel
score: 6
quit
score: 7

In [ ]:
num = 4
while True:
    if num >= 10:
        break
    print(num)
    num += 1

##### While & For Loops Used Together

In [21]:
# nested while and for loops
num = 0
while num <= 5:
    print('\n While loop iteration: ' + str(num))

    for i in range(2):
        print("for loop iteration: " + str(i)) 
    num += 1

 While loop iteration: 0
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 1
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 2
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 3
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 4
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 5
for loop iteration: 0
for loop iteration: 1

### Built-In Functions

##### range()

In [57]:
# only takes integers
# almost always used in a for loop
name = 'I am great'

for letter in range(10):
    print(letter)

0
1
2
3
4
5
6
7
8
9

In [23]:
# understanding range:( where to start, stop, step(interval))
for i in range(20): #end
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [24]:
for i in range(2, 20): # start and stop
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [28]:
# defaults: start = 0, STOP IS REQUIRED, step = 1
for i in range(2, 20, 5):# start, stop, step
    print(i)

2
7
12
17

##### len()

In [30]:
# returns a number / an integer
name = 'Sedinam'
length = len(name)
print(length)

7

In [31]:
# can be used as a combo with range
name = 'This is great'
# my_name_length = len(name)
for letter in range(len(name)):
    print(name[letter])

T
h
i
s

i
s

g
r
e
a
t

##### help()

In [32]:
# gives you info about built-in functions
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [33]:
# finding what datatype you're working with
print(isinstance(4.5, int))

if isinstance(4.5, float):
    print('this number is a float type')

False
this number is a float type

##### abs()

In [36]:
# used to get rid of neg signs.. /5/
print(abs(-5))

5

### Try and Except

In [1]:
# use this whenever you expect to encounter a bug so 
# that the error does not cause the program to stop
# use this to log out graceful and informative errors

try:
    number_test = 0
    input_num = int(input('Guess a number '))
    if input_num != number_test:
        input_num = input_num + number_test
        print('Your number is: ' + str(input_num))
except:
    print('That did not work - ERROR: Please change the number')

Guess a number  five

That did not work - ERROR: Please change the number

### Lists

##### Declaring Lists

In [3]:
#list is defined by []
names = ['Max', 'Cindy', 'Paulina', 'Sale', '5']
print(names)

['Max', 'Cindy', 'Paulina', 'Sale', '5']

##### Indexing a List

In [4]:
#used whenn we want specific data from list.. indexing starts from 0 not 1
#syntax : list_name[start:stop:step]
# single index 0 first value
print(names[0])

#print the last value NO MATTER THE SIZE OF THE list(-1)
print(names[-1])
#print starting at 1 to the end
print(names[1:])

#print starting at beginning until whatever index indicated
print(names[:3])

#print from one index to another (index slicing)... only pulls back data from the original
print(names[2:4])
print(names[2:-1])#produce same result

#print starting index 1 going up by 2 for each iteration
print(names[1::2])

# print starting at the end and going down by 1 each time (reverses the list)
print(names[::-1])

Max
5
['Cindy', 'Paulina', 'Sale', '5']
['Max', 'Cindy', 'Paulina']
['Paulina', 'Sale']
['Paulina', 'Sale']
['Cindy', 'Sale']
['5', 'Sale', 'Paulina', 'Cindy', 'Max']

##### .append()

In [5]:
#changes original data by adding new
names.append("bob")
print(names)

['Max', 'Cindy', 'Paulina', 'Sale', '5', 'bob']

##### .insert()

In [6]:
#add and indicate the position/index you want (index, value)
names.insert(1, 'The Great Gaspy')
print(names)

['Max', 'The Great Gaspy', 'Cindy', 'Paulina', 'Sale', '5', 'bob']

##### .pop()

In [7]:
# defaults to the last value if no parameter is given
#pop returns the element that was removed in case you want to assign it into a variable

my_name = names.pop(5)
print(my_name)
print(names)

5
['Max', 'The Great Gaspy', 'Cindy', 'Paulina', 'Sale', 'bob']


##### .remove()

In [8]:
#removes value, not index
#names.remove('bob')
# print(names)
# remove mutiples bobs from the list 
while 'bob' in names:
    names.remove('bob')
print(names)

['Max', 'The Great Gaspy', 'Cindy', 'Paulina', 'Sale']

##### del()

In [9]:
# be careful can cause indexing errors if used improperly
#remove by index
del(names[1])
print(names)

['Max', 'Cindy', 'Paulina', 'Sale']

##### Concatenating Two Lists

In [10]:
mlist = [0, 1, 2]
s_list = [3, 4, 5]
b_list = mlist + s_list
print(b_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [11]:
name = ['Max', 'Ana', 'Kate', ['Will', 'Evy', 'Helen']]
print(name)
print(name[3][1]) #indexing into list within list

['Max', 'Ana', 'Kate', ['Will', 'Evy', 'Helen']]
Evy

##### Looping Through Lists

In [13]:
#  two ways.. done by index (for loop) or in
# with a for loop using index
for i in range(len(name)):
    print(name[i])
    
# loop with a for loop and in
# for i in names:
#     print(i)

Max
Ana
Kate
['Will', 'Evy', 'Helen']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [4]:
x = 1
while True:
    cube = x**3
    if cube > 1000:
        break
    print(f'the cube of {x} is {cube}')
    x += 1

the cube of 1 is 1
the cube of 2 is 8
the cube of 3 is 27
the cube of 4 is 64
the cube of 5 is 125
the cube of 6 is 216
the cube of 7 is 343
the cube of 8 is 512
the cube of 9 is 729
the cube of 10 is 1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [1]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
for prime in range(2, 101): #looking for numbers not more than 100
    for n in range(2, prime):
        if prime % n == 0:
            break
    else:
            print(prime)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [14]:
age = int(input("How old are you?")) #we want input value to be recognized integer 
if age < 18: #if they are younger than 18
    print('Kids')
elif 18 <= age <= 65: #if they are 18 to 65 
    print('Adults')
else:                #if they are older than 65
    print('Seniors')

How old are you?30
Adults